<%- include('./partials/head') %>
<!-- <%- include('./partials/nav') %> -->

  <p><%= data.name %> <%= data.prefix %> <%= data.surname %></p>

  <ul>
    <% data.forEach(person => { %>
      <!-- <li>
        <%= person.name %>
      </li> -->
      <%- include('./partials/person', {person} ) %>
    <% }); %>
  </ul>

<%- include('./partials/foot') %>
